

.root{
	-fx-background-image:url("../images/wall.jpg");
}
#back{
	-fx-background-image:url("../Icon/return.png");
	-fx-background-color:transparent;
}

#back:hover{	
	-fx-background-image:url("../Icon/return1.png");
} 

#back:pressed{
	-fx-background-image:url("../Icon/return1.png");
}